body{
    margin: 0;
}
nav{
    background-color: black;
    height: 50px;
    font-size: 18pt;
    font-family: 'Cinzel', serif;
}

a{
    color: white;
    text-decoration: none;
    padding: 40px;
}

